@import url('https://fonts.googleapis.com/css?family=Roboto');

//variables
@page-width:100%;
@logo-height:60px;
@font:'Roboto', sans-serif;
@hover-color:#6384BE;
@font-left-size: 14px;
@font-right-size:13px;

@font-face {
    font-family: 'HelveticaWorld';
    src: url('../src/HelveticaWorld-Regular.ttf');
}


//constructors
.navigation-outside(@column){
    display: grid;
    grid-template-columns: repeat(@column, auto);
    grid-template-rows: auto;
}
.dropdown(@row){
    display: grid;
    grid-template-rows: repeat(@row, auto);
    grid-template-columns: auto;
}

.navigation-inside{
    display: flex;
    align-items: center;
}

.page-middling(@margin-two-sides){
    width: @page-width - (@margin-two-sides*2);
    margin-left: @margin-two-sides;
    margin-right:@margin-two-sides;
}

.nav-orientation(@position){
    text-align: @position;
}
.btn(@color, @radius){
    color: @color;
    border: 1px solid @color;
    border-radius: @radius;
    transition: all 0.5s;

    &:hover{
        background-color: @color;
        color: #fff;
    }
}
.gradient(@startColor, @endColor){
    border: 1px solid @startColor;
    background: -webkit-linear-gradient(left, @startColor, @endColor);
	background: -moz-linear-gradient(left, @startColor, @endColor);
	background: -ms-linear-gradient(left, @startColor, @endColor);
	background: -o-linear-gradient(left, @startColor, @endColor);
}

.big-btn( @radius){
    border-radius: @radius;
    color: #fff;
    // transition: all .5s;
    // transition-timing-function: ease;
    // &:hover{
    //     background-color: red;
    // }
}




//classNames

.top-nav{
    font-family: @font;
    font-weight: 700;
    //background-color: red;
    // display: flex;
    // align-items: center;
    margin-top:10px;
    .page-middling(7%);
    .navigation-outside(9);
}

.top-nav div{
    .navigation-inside;
    //border: 1px solid black;
}

.top-nav div:nth-child(6){
    margin-right: 190px;
}

.left{
    font-size: @font-left-size;
    cursor: pointer;
    transition: all 0.3s;
}
.left:hover{
    color: @hover-color;
}
.right{
    font-size: @font-right-size;
    cursor: pointer;
    transition: all 0.3s;
}
.right:hover{
    color: @hover-color;
}

.logo{
    height: @logo-height;
}

.right > span{
    text-align: center;
    padding: 10px 30px;
    .btn(#6184C0,24px);
    font-weight: bold;
}

.gray-background{
    background-color: #FAFAFA;
    width: 100%;
}

.desc{
    
    line-height: 58px;
    margin-top: 5%;
    .page-middling(18%);
    font-size: 46px;
    text-align: center;
    font-family: 'HelveticaWorld';
    
}

.desc > div{
    border-bottom: 3px solid #6184C0;
    .page-middling(43%);
    margin-top: 3%;
    transition: all 0.2s;
    
}
.desc:hover > div{
    .page-middling(40%);
}

.desc > p{
    font-size: 22px;
    color: #3a3a3a;
    margin-bottom: 30px;
}

.button-trial-top{
    font-family: @font;
    cursor: pointer;
    .page-middling(38%);
    .big-btn(5000px);
    .gradient(#7f9ccc, #6184c0);
    font-size: 28px;
    height: 74px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-trial-overlay {
    position: absolute;
    height: 100%;
    width: 0%;
    border-radius: 5000px;
    background: rgba(0, 0, 0, 0.1);
    transition: width .4s;
}
.button-trial-top > span{
    z-index: 99;
}

.button-trial-top:hover .button-trial-overlay{
    width: 100%;
}

.top-background{
    margin-top: 30px;
    z-index: -1;
    position: absolute;
    top: 46%;
    .page-middling(6.5%);
    height: 600px;
    background-image: url('../src/img/email-marketing-banner.png');
}
.scrolldown-arrow{
    .page-middling(30%);
    margin-top: 33%;
    text-align: center;
}

.scrolldown-arrow > svg{
    width: 40px;
    fill: #6184C0; 
    cursor: pointer;
}

.mid-des{
    margin-bottom: 7%;
    margin-top: 4%;
    .page-middling(6%);
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
}

.mid-des img {
    cursor: pointer;
}

.mid-des > div:nth-child(3){
    margin-top: 3%;
}

.mid-des-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    font-size: 38px;
    font-family: 'HelveticaWorld';
}
.mid-des-2 {
    margin-top: 1%;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    font-family: 'HelveticaWorld';
     .page-middling(13%);
    font-size: 20px;
}
.mid-des-3{
    font-family: 'HelveticaWorld';
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
    .navigation-outside(3);
}
.mid-des-3 > div{
    .navigation-inside;
}
.mid-des-3 > div > div{
    .page-middling(2%);
}

.mid-des-3 h3{
    cursor: pointer;
}
.mid-des-3 h3:hover{
    color: @hover-color;
}

.benefit{
    background-color: red;
    width: 100%;
}

.benefit > h2{
    .page-middling(16%);
    font-size: 42px;
    font-family: 'HelveticaWorld';
    background-color: green;
    line-height: 54px;
    text-align: center;
}

.block-container{
    background-color: yellow;
    border:1px solid black;
    .dropdown(2);
}

.block-container > .block-index-1{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    .navigation-outside(2);
}

.block-index-1 > div{
    border: 1px solid black;
}

.block-index-1 > div:nth-child(1){
    width: 189%;
}

.block-index-1 > div:nth-child(2){
    text-align: right;
}
.block-index-1 > div >img{
    width: 712px;
}


.block-container > .block-index-2{
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
    .navigation-outside(2);
}
.block-index-2 > div{
    border: 1px solid black;
}

.block-index-2 > div:nth-child(1){
    width: 66%;
}
.block-index-2 > div > img{
    width: 587px;
}
.block-index-2 > div:nth-child(2){
}