<div class="more-from-collection">
    <div class="collection">MORE FROM THE RETRO SUMMER COLLECTION</div>
    <div class="chevron-left">
        <img src="../asset/left.png" />
    </div>
    <div class="chevron-right">
        <img src="../asset/right.png" />
    </div>
    <div class="related-from-collection">
        <div class="related">
            <img src="../asset/related.jpeg" />
            <br/>
            <span class="related-name" >RETRO SUMMER</span>
            <br/>
            <span class="related-name-2">Coaster Sets
                <br/>By Bree Madden</span>
        </div>
        <div class="related">
            <img src="../asset/related.jpeg" />
            <br/>
            <span class="related-name" >RETRO SUMMER</span>
            <br/>
            <span class="related-name-2">Coaster Sets
                <br/>By Bree Madden</span>
        </div>
        <div class="related">
            <img src="../asset/related.jpeg" />
            <br/>
            <span class="related-name" >RETRO SUMMER</span>
            <br/>
            <span class="related-name-2">Coaster Sets
                <br/>By Bree Madden</span>
        </div>
        <div class="related">
            <img src="../asset/related.jpeg" />
            <br/>
            <span class="related-name" >RETRO SUMMER</span>
            <br/>
            <span class="related-name-2">Coaster Sets
                <br/>By Bree Madden</span>
        </div>
    </div>
</div>