<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <table class="top-logo">
        <tr>
            <td class="top-left">
                <img src="https://cdn.shopify.com/s/files/1/0068/2302/t/101/assets/deny-logo-new.gif?16403055433815889550" height="30px" width="170px"/>
            </td>
            <td class="top-right-icon">
                <a href="">
                    <img src="../asset/magnifier.png" width="14px" height="14px">
                </a>
            </td>
            <td class="top-right-text">
                <a href="">
                    SEARCH
                </a>
            </td>
            <td class="top-right-icon">
                <a href="">
                    <img src="../asset/cart.png" width="14px" height="14px">
                </a>
            </td>
            <td class="top-right-text">
                <a href="">
                    CART: 0
                </a>
            </td>
        </tr>
    </table>

    <table class="menu">
        <tr>
            <td style="color: cornflowerblue">NEW</td>
            <td>BED + BATH</td>
            <td>FURNITURE</td>
            <td>WALL</td>
            <td>OUTDOOR</td>
            <td>ACCESSORIES</td>
            <td>ARTIST GALLERIES</td>
            <td>ABOUT US</td>
            <td>JOIN</td>
        </tr>
    </table>

    <div class="promo-bar">
        <div>
            $699 CREDENZAS: FIND YOUR STATEMENT MAKER
        </div>
    </div>

    <div style="margin-top: 10px"></div>

    <div class="top-logo">
        <img src="https://cdn.shopify.com/s/files/1/0068/2302/files/deny-designs-1180_450.jpg?1344291721949468472&9376499790318791112">
    </div>

    <div class="first-title">
        WHO ARE WE?
    </div>

    <div class="article">
        <p>
            Founded in 2011, Deny Designs is a modern, think-outside-the-box home furnishings company.
            Deny empowers its customers to transform dull, everyday household accessories into fun and original statement pieces by adding a personal image or selecting artwork from the Deny Art Gallery.
            With each purchase from the Gallery, our team of talented artists earn part of the proceeds, enabling Deny to support art communities all over the world while also spreading the creative love!
            From custom furniture pieces to textiles, if it’s in the home décor category, Deny puts its own unique spin on it!
        </p>
        <p>
            Deny is proud to be part of Leaf Group.
            Leaf Group builds platforms across media and marketplace properties to enable communities of creators to reach passionate audiences in large and growing lifestyle categories.
            The companies owned by Leaf Group include Deny Designs, Saatchi Art, The Other Art Fair, Society6, Cuteness, eHow, hunker, leaf living, eating & fashion, LIVESTRONG, Sapling and Techwalla.
        </p>
    </div>

    <div class="title">
        WHAT DO WE DO?
    </div>

    <div class="article">
        <p>
            Deny empowers its customers to transform dull, everyday household accessories into fun and original statement pieces by adding a personal image or selecting artwork from the Deny Art Gallery, which features over 180 artists and 15,000 pieces of art!
            With each purchase from the Gallery, our team of talented artists earn part of the proceeds, enabling Deny to support art communities all over the world while also spreading the creative love!
            From custom furniture pieces to textiles, if it’s in the home décor category, Deny puts its own unique spin on it!
        </p>
    </div>

    <div class="title">
        HOW ABOUT A LITTLE RECOGNITION?
    </div>
    
    <div class="article">
        <p>
            Deny Designs is featured in numerous national and local publications including Better Homes & Gardens, Good Housekeeping, InStyle, Redbook, HGTV, 5280 and Sunset Magazine on a monthly basis.
            Additionally, television shows on HGTV and W Network continue to feature our products.
        </p>
               
    </div>

    <div class="title">
        CHAT WITH US!
    </div>

    <div class="article-contact">
        <span>
            Deny Designs
        </span>
        <br/>
        <span>
            3890 South Windermere Street
        </span>
        <br/>
        <span>
            Englewood, CO 80110
        </span>
        <br/>
        <span>
            Click here to contact us.
        </span>
    </div>

    <div style="margin-top: 100px"></div>

    <div class="featured">
        <img src="https://cdn.shopify.com/s/files/1/0068/2302/t/101/assets/denystaff-magic.jpg?9376499790318791112">
    </div>

    <div style="margin-top: 50px"></div>

    <div class="promo-bar-end">
            <table>
                <tr>
                    <td class="end-bar-left">
                        <a href="">HELP</a>
                    </td>
                    <td class="end-bar-left">
                        <a href="">SHIPPING</a>
                    </td>
                    <td class="end-bar-left">
                        <a href="">RETURNS+EXCHANGES</a>
                    </td>
                    <td class="end-bar-left">
                        <a href="">GIFT CARDS</a>
                    </td>
                    <td class="end-bar-left">
                        <a href="">BE A DENY ARTIST</a>
                    </td>
                    <td class="end-bar-left">
                        <a href="">WHOLESALE</a>
                    </td>
                    <td class="end-bar-right">
                        KEEP ON DESIGNING.
                    </td>
                </tr>
            </table>
        </div>

        <div class="sponsors">
            <img src="https://cdn.shopify.com/s/files/1/0068/2302/t/101/assets/asSeenIn-1.jpg?3412516859482115521">
            <img src="https://cdn.shopify.com/s/files/1/0068/2302/t/101/assets/asSeenIn-2.jpg?3412516859482115521">
            <img src="https://cdn.shopify.com/s/files/1/0068/2302/t/101/assets/asSeenIn-3.jpg?3412516859482115521">
            <img src="https://cdn.shopify.com/s/files/1/0068/2302/t/101/assets/asSeenIn-4.jpg?3412516859482115521">
            <img src="https://cdn.shopify.com/s/files/1/0068/2302/t/101/assets/asSeenIn-5.jpg?3412516859482115521">
            <img src="https://cdn.shopify.com/s/files/1/0068/2302/t/101/assets/asSeenIn-6.jpg?3412516859482115521">
        </div>
    
        <div style="text-align: center; font-size: 10px;margin-top: 12px">
            ©2018 BASIS | All Rights Reserved | Privacy Policy | Terms Of Service
        </div>
</body>
</html>