<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Throw Pillows | Deny Designs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="throw_pillows.css" />
</head>

<body>
    <div id="wrapper">
        <div class="header">
            <div class="header-1">
                <div class="logo">
                    <img src="../asset/logo.gif" />
                </div>
                <div class="search">
                    <img src="../asset/magnifier.png" /> Search
                </div>
                <div class="cart">
                    <img src="../asset/cart.png" /> Cart: 0
                </div>
            </div>
            <div class="menu-bar">
                <div>
                    NEW
                </div>
                <div>
                    BED + BATH
                </div>
                <div>
                    FURNITURE
                </div>
                <div>
                    WALL
                </div>
                <div>
                    OUTDOOR
                </div>
                <div>
                    ACCESSORIES
                </div>
                <div>
                    ARTIST GALLERIES
                </div>
                <div>
                    ABOUT US
                </div>
                <div>
                    JOIN
                </div>
            </div>
            <div class="promotion">
                <a href="#">$699 CREDENZAS: FIND YOUR STATEMENT MAKER</a>
            </div>
        </div>
        <div class="body">
            <div class="breadcumb">Home / Outdoor / Outdoor Throw Pillows</div>
            <div class="category-name">OUTDOOR THROW PILLOWS</div>
            <div class="navigation">
                <div class="filter">
                    <img src="../asset/chevron-right.png" />SHOP BY COLLECTION
                </div>
                <div class="filter">
                    <img src="../asset/chevron-right.png" />PRODUCT
                </div>
                <div class="filter">
                    <img src="../asset/chevron-right.png" />COLOR
                </div>
                <div class="filter">
                    <img src="../asset/chevron-right.png" />THEME
                </div>
                <div class="filter">
                    <img src="../asset/chevron-right.png" />STYLE
                </div>
            </div>
            <div class="content">
                <div class="content-cart">
                    <img src="../asset/pillow.jpeg" />
                    <p class="content-name">RAIN 6</p>
                    <p class="content-name-2">Outdoor Throw Pillow
                        <br/>By Garima Dhawan</p>
                    <p class="content-price">From $45.00</p>
                </div>
                <div class="content-cart">
                    <img src="../asset/pillow.jpeg" />
                    <p class="content-name">RAIN 6</p>
                    <p class="content-name-2">Outdoor Throw Pillow
                        <br/>By Garima Dhawan</p>
                    <p class="content-price">From $45.00</p>
                </div>
                <div class="content-cart">
                    <img src="../asset/pillow.jpeg" />
                    <p class="content-name">RAIN 6</p>
                    <p class="content-name-2">Outdoor Throw Pillow
                        <br/>By Garima Dhawan</p>
                    <p class="content-price">From $45.00</p>
                </div>
                <div class="content-cart">
                    <img src="../asset/pillow.jpeg" />
                    <p class="content-name">RAIN 6</p>
                    <p class="content-name-2">Outdoor Throw Pillow
                        <br/>By Garima Dhawan</p>
                    <p class="content-price">From $45.00</p>
                </div>
            </div>
            <div class="category-description">
                Shop outdoor throw pillows and add some comfort to your outdoor living area. Our all-weather pillows come in various sizes
                and are all UV protected and mildew resistant. </div>
        </div>
        <div class="footer">
            <div class="social-contacts">
                <img src="../asset/instagram.png" />
                <img src="../asset/pinterest.png" />
                <img src="../asset/facebook.png" />
                <img src="../asset/hat.png" />
            </div>
            <div class="information">
                <div class="information-wrapper">
                    <a href="#">
                        HELP
                    </a>
                    
                    <a href="#">
                        SHIPPING
                    </a>
                    
                    <a href="#">
                        RETURNS + EXHANGES
                    </a>
                    
                    <a href="#">
                        GIFT CARDS
                    </a>
                    
                    <a href="#">
                        BE A DENY ARTIST
                    </a>
                    
                    <a href="#">
                        WHOLESALE
                    </a>
                </div>
                <div class="slogan">KEEP ON DESIGNING.</div>
            </div>
            <div class="partners">
                <img src="../asset/asSeenIn-1.jpg" />
                <img src="../asset/asSeenIn-2.jpg" />
                <img src="../asset/asSeenIn-3.jpg" />
                <img src="../asset/asSeenIn-4.jpg" />
                <img src="../asset/asSeenIn-5.jpg" />
                <img src="../asset/asSeenIn-6.jpg" />
            </div>
            <div class="copyright">©2018 Deny Designs | All Rights Reserved | Privacy Policy | Terms Of Service</div>
        </div>
    </div>
</body>

</html>